
@font-face {
  font-family: 'Cheetos';
  src: url('../public/fonts/OtherHand.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: rgb(136, 140, 255); /* 주 색상 */
  --hover-color: rgb(64,60,140);
  --secondary-color: #33C1FF; /* 보조 색상 */
  --background-color: #212121; /* 배경 색상 */
  --background-gray: #606060; /* 배경 색상 */
  --background-body:rgba(16, 16, 19, 0.9);
  --dart-blue: #222255; /* 배경 색상 */
  --black: #121212;
  --border-gray: #333333;
  --content-gray: rgba(28,28,28,0.85);
  --text-white:#ddd;
  --text-gray:#888;
}


.comingSoon{
  margin:0 auto;
  font-family: 'Cheetos';
  font-size:3rem;
  position:absolute;
  top:40%;
  width:100%;
  font-weight: bold;
  text-align: center;
  color:white;
}
input{
    border:none;
    outline:none;
}

.scroll-locked {
  overflow: hidden;
}

img {
  pointer-events: none; /* 클릭 비활성화 ** */
}

body {
  margin: 0;
  background-color: rgba(23,23,23,1);
  color: var(--text-white);
}

/* <Home> 컴포넌트 */
.main-map {
  margin-top:30rem;
  padding: 0 1%;
  background-color: var(--black);
  border-top: 0.1px solid var(--border-gray); /* 구분선 추가 */
}

